{% macro render_field(field) %}
<div class="row" id="field-{{ field.id }}-wrapper">
    <div class="small-3 columns">
        <label class="right" for="{{ field.id }}">{{ field.label }}</label>
    </div>
    <div class="small-9 columns">
        {{ field(**kwargs) | safe }}
        {% if field.description %}
        <div class="field-description">{{ field.description }}</div>
        {% endif %}
        {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endmacro %}